# OS
.DS_Store

# Unity caches/builds (never commit)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
**/Bee/
**/BurstCache/
**/Artifacts/
[Mm]emoryCaptures/
[Cc]rashReports/
[Ss]ysinfo/

# IDE
.vs/
.idea/
.vscode/
*.DotSettings.user

# Misc
*.pid
